.App {
  text-align: center;
}

.App-header {
  background-color: #03a9f4;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
}

.description {
  text-align: left;
  font-size: small;
}

@media screen and (min-width: 800px) {
  .TouchCard {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .TouchCard {
    width: 100%;
  }
}

.TouchRegion {
  border-radius: 15px;
  background-color: #eee;
  margin-bottom: 4px;
}

.title {
  text-align: left;
}
